.idea/pyLspTools.xml
.env.example
.idea/env2llm.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.venv/
venv/
__pycache__/
*.egg-info/
dist/
build/
.pytest_cache/
*.pyc

# Environment variables
.env
